main {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

img {
 width: 300px;
 height: 300px;
 border-radius: 50%;
 border: black 1px solid;
}

.photo {
 text-align: center;
 z-index: 1;
}

.team_name {
 text-align: center;
 margin-top: 0px;
}

.team_members{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-gap: 15rem;
 margin-top: 80px;
}

.team_text {
 font-family: Arial, sans-serif;
 font-size: 20px;
}
