html, body {
  width: 100%;
  height: 100%;
}

body {
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
}

header {
 background-color: #333;
 color: #fff;
 padding: 20px;
 padding-right: 10px;
 z-index: 4;
}

nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
}

nav li {
 margin-right: 20px;
}

nav a {
 color: #fff;
 text-decoration: none;
}

main {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 80vh;
}

canvas {
 border: 1px solid #333;
}

h1 {
 font-size: 2rem;
 margin-top: 20px;
}

.buttons {
 margin-top: 20px;
}

button {
 background-color: #333;
 color: #fff;
 border: none;
 padding: 10px 25px;
 margin-right: 10px;
 cursor: pointer;
 width: 120px;
 height: 50px;
 font-size: 14px;
}

#file_input {
 display: none;
}

.input-file span {
	display: inline-block;
	cursor: pointer;
	color: rgb(255 255 255);
	text-align: center;
	background-color: #333;
	vertical-align: middle;
	border: none;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	width: 160px;
	height: 34px;
    margin-right: 10px;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: none;
	width: 0;
	height: 0;
}

.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-file:hover span {
	background-color: gray;
}

.input-file:active span {
	background-color: black;
}

.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

button:hover {
 background-color: #555;
}

#record {
    background-color: #FF0000;
}

h2 {
 margin-top: 10px;
}

p {
 font-size: 0.8rem;
 line-height: 1.2;
}

footer {
 background-color: #333;
 color: #fff;
 padding: 10px 0;
 text-align: center;
 position: absolute;
 bottom: 0;
 width: 100%;
 z-index: 3;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.animate {
  display: flex;
}