<!DOCTYPE html>
<html>
<head>
 <title>Контакты</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <link rel="stylesheet" type="text/css" href="css/contacts.css">
</head>
<body>
 <header>
  <nav>
   <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/about">О нас</a></li>
    <li><a href="/contacts">Контакты</a></li>
   </ul>
  </nav>
 </header>
 <main>
  <h1 class="team_name">Контакты</h1>
  <section class="team_members">
  <div class="photo">
   <img src="images/Sasha.jpg" alt="Sasha">
   <h2>Мельников Александр Валерьевич</h2>
   <h3>Email: sanek.melnikow@mail.ru</h3>
   <h3>VK: <a href="https://vk.com/mpirtgod">https://vk.com/mpirtgod</a></h3>
   <h3>Telegram: <a href="https://t.me/mpirtgod">@MpirtGod</a></h3>
  </div>
  <div class="photo">
   <img src="images/Roma.jpg" alt="Roma">
   <h2>Чаганов Роман Дмитриевич</h2>
{#   <h3>Email: </h3>#}
   <h3>VK: <a href="https://vk.com/id455326673">https://vk.com/id455326673</a></h3>
   <h3>Telegram: <a href="https://t.me/ChaganovRoman">@ChaganovRoman</a></h3>
  </div>
  <div class="photo">
   <img src="images/Danila.jpg" alt="Danila">
   <h2>Дорох Данила Васильевич</h2>
   <h3>Email: doroh.danil@mail.ru</h3>
   <h3>VK: <a href="https://vk.com/dorokhdanila">https://vk.com/dorokhdanila</a></h3>
   <h3>Telegram: <a href="https://t.me/PhantomFeed">@PhantomFeed</a></h3>
  </div>
  </section>
 </main>
 <footer>
  <p>&copy; 2022-2023 Gang Bros</p>
 </footer>
</body>
</html>